
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Contact</h2>
<h3>Contact Us</h3>
<address>
    Movie House<br />
    51 Lake Circus,Kalabagan,Dhanmondi<br />
    <abbr title="Phone">P:</abbr>
    123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@moviehouse.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@moviehouse.com</a>
</address>

