
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="login_part section_padding ">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Already have account?</h2>
                        <p>Please login and enjoy more features</p>
                        <a href="/login/index" class="btn_3 btn btn-outline-primary">Go to Login</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">

                        @if ((string)TempData["msg"] == "success")
                        {
                            <div class="alert alert-success">
                                <strong>Sign Up Successful. Go to User Login to Login</strong>
                            </div>
                        }
                        @if ((string)TempData["msg"] == "email")
                        {
                            <div class="alert alert-danger">
                                <strong>This Email has already registered</strong>
                            </div>
                        }
                        @using (Html.BeginForm("UploadFile", "Signup", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <h3>
                                New User ! <br>
                                Please Sign up now
                            </h3>
                            <div class="row">
                                <div class="col-md-12 form-group p_star">
                                    <center>
                                        <img id="imgview" class="p-3" style="width:250px;height:200px" src="/content/images/user.png" />
                                        @*@Html.TextBox("file", "", new { type = "file" }) <br />*@
                                        <input type="file" name="file" onchange="previewFile(this);" />
                                        @*@Html.TextBox("file", "", new { type = "file" })*@
                                        @*@Html.EditorFor(model => "file", new { htmlAttributes = new { @class = "form-control", @type = "file" } })*@


                                    </center>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="Username" required>
                                    @*<asp:TextBox ID="Name" class="form-control" placeholder="Name" runat="server"></asp:TextBox>*@
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email" required
                                           placeholder="email">
                                    @*<asp:TextBox ID="Email" class="form-control" placeholder="Email" runat="server"></asp:TextBox>*@
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <div class="form-check-inline">
                                        <label class="form-check-label" for="radio1">
                                            <input type="radio" class="form-check-input" id="gender" name="gender" value="Male" checked>Male
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label" for="radio2">
                                            <input type="radio" class="form-check-input" id="gender" name="gender" value="Female">Femal
                                        </label>
                                    </div>

                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="Phone" name="Phone" value="" required
                                           placeholder="phone">
                                    @*<asp:TextBox ID="Phone" class="form-control" placeholder="Phone" runat="server"></asp:TextBox>*@
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                           placeholder="Password">
                                    @*<asp:TextBox ID="Password" class="form-control" placeholder="Password" runat="server"></asp:TextBox>*@
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn_3 btn btn-outline-primary" asp-controller="Signup" asp-action="Insertuser">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>


    function previewFile(input) {
        var file = $("input[type=file]").get(0).files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#imgview").attr("src", reader.result);
            }
            reader.readAsDataURL(file);
        }
    }
</script>

